<br>
<h2>Listar Extractos</h2>
<p>
<strong> Request </strong>
List Extracts
</p>

<div class="update-data-botones" style="display: flex; flex-direction:row;  margin-left: 4px;">
  <div
    class="update-data-button-container ml-3"
    style="width: 150px"
  >
    <button
      class="btn btn-primary align-self-center"
      style="width: 200px"
      (click)="this.obtener()"
      >
     
      Mandar Peticion
     
    </button>
  <div
    class="button-container align-self-center mr-3"
    style="width: 250px"
  >

  </div>
</div>
</div>
<h2>Respuesta</h2>
<textarea name="response" id="" cols="175" rows="10"  [(ngModel)]="this.data2"></textarea>


